* {
    box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

.mt-15 {
    margin-top: 15px;
}

.row {
    display: flex;
}

.justify-cont-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}